html, body {
  background-color: #ffff0f;
  font-size: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
}

#main-container{
  display: inline-block;
  background-color: #ffffbf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

#population-container, #factor-container{
  display: inline-block;
  background-color: white;
  margin: 2%;
  text-align: center;
  width: 96%;
}
#population-container{
  margin-bottom: 1%;
  height: 60%;
  vertical-align: middle;
  display: table;
}
#factor-container{
  height: 34%;
  margin-top: 1%;
}

#population-container svg g {
  margin: 0;
}

#ring-chart {
  margin: auto;
  width: 58%;
  height: 58%;
  padding: 0;
  vertical-align: middle;
  top: 50%;
}


#factor-graph {
  margin-top: 1%;
  margin-bottom: 1%;
  height: 32%;
  position: relative;
  x: 0;
  y: 0;
}

#side-left, #side-right {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #ffaa00;
  height: 50%;
  width: 10%;
  margin: 1% 1.5%;
}

#side-left {
  float: left;
}

#side-right {
  float: right;
}


