.factor-path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.timeline {
    fill: none;
    stroke: red;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.timeline2 {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}