.factor-path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis-x {
    text {
        font-size: 12px;
    }

    .tick:last-of-type {
        display: none;
    }
}

.axis-y {
    text {
        font-size: 12px;
    }
}

.factor-label {
    font-size: 14px;
    dominant-baseline: middle;
}

.factor-handle {
    cursor: row-resize;
}

.factor-handle-value {
    dominant-baseline: middle;
}

.timeline {
    shape-rendering: crispEdges;
    line {
        fill: none;
        stroke: red;
        stroke-width: 2px;
    }
    rect {
        fill: red;
        stroke: none;
        opacity: 0.06;
        cursor: col-resize;
    }
}
