.factor-path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.timeline {
    shape-rendering: crispEdges;
    line {
        fill: none;
        stroke: red;
        stroke-width: 2px;
    }
    rect {
        fill: red;
        stroke: none;
        opacity: 0;
    }
}