html, body {
  font-size: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
}

#main-container{
  display: flex;
  flex-direction: column;
  background-color: #ffffbf;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}

#population-container, #factor-container{
  background-color: white;
  margin: 20px;
  text-align: center;
  width: 96%;
}
#population-container{
  flex: 6;
  vertical-align: middle;
}
#factor-container{
  flex: 4;
  height: 0;
}

@import 'factor';
