html, body {
  font-size: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
}

#nav-container {
  position: fixed;
  width: 20%;
  height: 100%;
}

#main-container-parent {
  margin-left: 20%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-container{
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 80%;
}

#population-container, #factor-container{
  background-color: white;
  text-align: center;
  width: 96%;
}
#population-container{
  flex: 6;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  height: 0;
  margin: 0px 20px;
}
#factor-container{
  flex: 4;
  height: 0;
  margin: 0px -50px 0px 50px;
}
svg text {
    shape-rendering: crispEdges;
}

@import 'nav';
@import 'factor';
@import 'population'
