/*
#population-container {
  //display: flex;
  //flex-direction: row;
}
*/
#ring-chart, .side {
  margin-left: auto; //30px;
  margin-right: auto; //30px;
  margin-top: auto;
  margin-bottom: auto;
}

.ring-chart {
  padding: 0;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  //margin: 0;
  //flex: 3;
}

.ring-chart#second {
  display: none;
}

.side {
  //flex: 2;
  //height: 80%;
  //width: 3%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  div {
    min-width: 100px;
    max-width: 280px;
    background-color: #ffffbf;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
  }
  img, svg, p {
    margin-top: auto;
    margin-bottom: auto;
    line-height: normal;
    vertical-align: middle;
    //display: inline-block;
  }
  img {
    height: 80%;
    width: 30%;
    float: left;
  }
  .number, .work, .children {
    flex: 1;
    font-size: 12pt;
    span#name:hover {
      background-color: #ffcc00;
      cursor: pointer;
    }
    span#name-detail {
      background-color: #ffcc00;
      font-size: 10pt;
      display: none;
    }
    span#value {
      font-size: 24pt;
    }
  }
}

#side-left {
  float: left;
}

#side-right {
  float: right;
}



